@page "/organisation/list"
@using Allors.Workspace.Domain
@using Allors.Workspace.Meta
@using Organisation = Allors.Workspace.Domain.Organisation
@attribute [Authorize]
@inject IWorkspace Workspace

@if (organisations != null)
{
    <table class="table">
        <thead>
            <tr>
                <th width="90%">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organisation in organisations)
            {
                <tr>
                    <td>@organisation.Name</td>
                    <td><a href="/organisation/edit/@organisation.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IAsyncDatabaseClient asyncDatabaseClient;

    ISession Session;

    M M => ((IWorkspaceServices)this.Workspace.Services).Get<M>();

    Organisation[] organisations;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        this.Session = this.Workspace.CreateSession();

        var pull = new Pull
        {
            Extent = new Filter(M.Organisation),
        };

        var result = await this.asyncDatabaseClient.PullAsync(this.Session, pull);

        this.organisations = result.GetCollection<Organisation>();
    }
}
