trigger:
- main
- feature/*
- issue/*

stages:
- stage: System
  jobs:
  - job: Test
    timeoutInMinutes: 480

    pool:
      vmImage: 'windows-latest'

    strategy:
      matrix:
        adapters_memory:
          target: 'CiDotnetSystemAdaptersTestMemory'
        adapters_sqlclient:
          target: 'CiDotnetSystemAdaptersTestSqlClient'
        adapters_npgsql:
          target: 'CiDotnetSystemAdaptersTestNpgsql'
        core_database:
          target: 'CiDotnetCoreDatabaseTest'
        core_workspace_local:
          target: 'CiDotnetCoreWorkspaceLocalTest'
        core_workspace_remote_json_systemtext:
          target: 'CiDotnetCoreWorkspaceRemoteJsonSystemTextTest'
        core_workspace_remote_json_newtonsoft:
          target: 'CiDotnetCoreWorkspaceRemoteJsonNewtonsoftTest'
        base_database:
          target: 'CiDotnetBaseDatabaseTest'
        apps_database:
          target: 'CiDotnetAppsDatabaseTest'
        typescript_workspace:
          target: 'CiTypescriptWorkspaceTest'
        typescript_workspace_adapters_json:
          target: 'CiTypescriptWorkspaceAdaptersJsonTest'

    steps:
    - checkout: self
      submodules: true
      fetchDepth: 0
    - powershell: Set-Culture -CultureInfo nl-BE
      displayName: CultureInfo nl-BE
    # - task: UseDotNet@2
    #   displayName: 'Use .NET 7.0 sdk'
    #   inputs:
    #     packageType: sdk
    #     version: 7.0.x
    #     installationPath: $(Agent.ToolsDirectory)/dotnet
    - powershell: |
        Set-Service postgresql-x64-17 -StartupType manual
        Start-Service postgresql-x64-17
        Get-CimInstance win32_service | Where-Object Name -eq "postgresql-x64-17"
      displayName: 'Setup PostgreSQL'
    - task: PowerShell@2
      env:
        NODE_OPTIONS: --max_old_space_size=16384
      inputs:
        targetType: 'filePath'
        filePath: 'build.ps1'
        arguments: -target $(target)
        failOnStderr: true
      displayName: Running $(target)
    - task: PublishTestResults@2
      condition: always()
      inputs:
        testRunTitle: $(target)
        testResultsFormat: 'VSTest'
        testResultsFiles: '*.trx'
        searchFolder: 'artifacts/tests'
      displayName: 'Results for $(target)'
