@page "/mediatyped/list"
@using Allors.Workspace.Meta
@using MediaTyped = Allors.Workspace.Domain.MediaTyped
@attribute [Authorize]
@inject IWorkspace Workspace


@if (mediaTypeds != null)
{
    @foreach (var mediaTyped in mediaTypeds)
    {
        <BootstrapForm Model="@mediaTyped">
            <AMarkdownHtml RoleType="@M.MediaTyped.Markdown"></AMarkdownHtml>
            <a href="/mediatyped/edit/@mediaTyped.Id">Edit</a>
        </BootstrapForm>
        <hr/>
    }
}

@code {
    ISession Session;

    M M => this.Session.Workspace.Services.Get<M>();

    MediaTyped[] mediaTypeds;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        Session = this.Workspace.CreateSession();

        var pull = new Pull
        {
            Extent = new Filter(M.MediaTyped),
        };

        var result = await Session.PullAsync(pull);

        this.mediaTypeds = result.GetCollection<MediaTyped>();
    }
}
