<form *ngIf="employment" #form="ngForm" (submit)="save()" novalidate>
  <h1></h1>

  <h3 mat-dialog-title>{{ title }}</h3>

  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row">
        <a-mat-datepicker class="col-md" [object]="employment" [roleType]="m.Employment.FromDate"></a-mat-datepicker>
        <a-mat-datepicker class="col-md" [object]="employment" [roleType]="m.Employment.ThroughDate"></a-mat-datepicker>
      </div>

      <div class="row">
        <a-mat-autocomplete class="col" [object]="employment" [roleType]="m.Employment.Employer" [filter]="organisationsFilter.create(allors.context)" display="Name"></a-mat-autocomplete>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="row">
            <a-mat-autocomplete class="col" [object]="employment" [roleType]="m.Employment.Employee" [filter]="peopleFilter.create(allors.context)" display="FirstName"></a-mat-autocomplete>
            <button *ngIf="!person" mat-mini-fab color="accent" type="button" (click)="addEmployee = !addEmployee">
              <mat-icon *ngIf="!addEmployee">add</mat-icon>
              <mat-icon *ngIf="addEmployee">close</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-md-12 pb-3" *ngIf="addEmployee">
          <mat-card>
            <mat-card-header>Add a new person</mat-card-header>
            <mat-card-content>
              <person-inline (cancelled)="addEmployee = false" (saved)="employeeAdded($event); addEmployee = false"> </person-inline>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="canSave && (!form.form.valid || !allors.context.hasChanges)">SAVE</button>
  </div>
</form>
