<div class="container-fluid" *ngIf="object">
  <div class="row">
    <a-mat-input
      class="col-md"
      [object]="object"
      [roleType]="m.Organisation.Name"
    ></a-mat-input>

    <a-mat-select
      class="col-md"
      [object]="object"
      [roleType]="m.Organisation.Country"
      [options]="countries"
      display="Name"
    ></a-mat-select>
  </div>

  <div class="row" *ngIf="editRequest">
    <a-mat-autocomplete
      class="col-md"
      [object]="object"
      [roleType]="m.Organisation.Owner"
      [filter]="peopleFilter.create(context)"
      display="UserName"
    ></a-mat-autocomplete>
  </div>
</div>
