@page "/person/list"
@using Allors.Workspace.Meta
@using Person = Allors.Workspace.Domain.Person
@attribute [Authorize]
@inject IWorkspace Workspace

@if (people != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.MiddleName</td>
                    <td>@person.LastName</td>
                    <td>@person.UserName</td>
                    <td><a href="/person/edit/@person.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Person[] people;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var session = this.Workspace.CreateSession();
        var m = session.Workspace.Services.Get<M>();

        var pull = new Pull
        {
            Extent = new Filter(m.Person),
        };

        var result = await session.PullAsync(pull);

        this.people = result.GetCollection<Person>("People");
    }
}
