@page "/context/child-a"
@using Person = Allors.Workspace.Domain.Person
@using Allors.Workspace.Meta
@attribute [Authorize]

<h2>Child A Revision: @Revision</h2>

<ABSForm Model="@Person" TValue="Person">

    <BSRow>
        <BSCol>
            <ABSStringInput RoleType="@M.Person.FirstName" />
        </BSCol>
        <BSCol>
            <ABSStringInput RoleType="@M.Person.LastName" />
        </BSCol>
    </BSRow>

</ABSForm>

@code {
    [CascadingParameter]
    M M { get; set; }

    [CascadingParameter(Name = "Revision")]
    public long Revision { get; set; }

    [Parameter]
    public Person Person { get; set; }
}
