<div class="a-main">
  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(m.Organisation)" style="cursor: pointer"
          >Organisations</a
        >
        / {{ object?.Name }}
      </div>
    </div>
  </div>

  <div class="a-overview container">
    <div class="a-content row">
      <div class="col-md-4 mb-3">
        <organisation-summary></organisation-summary>
      </div>

      <div
        class="col-md-8 align-self-stretch"
        [ngClass]="panelManager.panelContainerClass"
      >
        <organisation-detail></organisation-detail>
        <a-mat-dyn-relationship-panel
          [anchor]="m.Employment.Employer"
          [target]="m.Employment.Employee"
          [display]="m.Person.FullName"
        ></a-mat-dyn-relationship-panel>
      </div>
    </div>
  </div>
</div>
