/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// base
@import '../../../../../libs/workspace/angular//base//src/lib/material/styles/bootstrap';
@import '../../../../../libs/workspace/angular/base/src/lib/material/styles/layout';

// apps
@import '../../../../../libs/workspace/angular/apps/intranet/src/lib/styles/layout';
